/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */

.box .a { text-decoration: none; }
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img/bg.jpg);
    background-size: cover;
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}

.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p
{
    font-weight: 300;
    color: #fff;
}

#container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#container .contactinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#container .contactinfo .box
{
    position: relative;
    padding: 20px;
    display: flex;
}

#container .contactinfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

#container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

#container .contactinfo .box .text h3
{
    font-weight: 500;
    color: #fff;
}

#container .contactinfo .box .text p
{
    font-weight: 300;
    color: #fff;
}

.successBox
{
    width: 50%;
    padding: 80px;
    height: 225px;
    width: 225px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    opacity: 80%;
    box-shadow: 0 3px 1rem rgb(0, 0, 0,.8);
}

.successBox h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.sicon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 44px;
}

.successBox p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    #container
    {
        flex-direction: column;
    }
    #container .contactinfo
    {
        margin-bottom: 40px;
    }
    #container .contactinfo,
    .contactForm
    {
        width: 100%;
    } 
    .successBox
    {
        width: 100%;
    } 
}


/* Varol CSS */

/* NavBar Starts */

.nav-item{
    font-family: 'PT Serif', serif;
    justify-content: space-between;
}

.nav-link{
    color: #202124;
    position: relative;
    color: whitesmoke;
}

.nav-link:hover{
    color: black;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}
.nav-link:hover::after{
    transform: scaleX(1);
}

.navbar{
    height: 6.6rem;
} 


/* NavBar Ends */


#carouselExampleCaptions { /* alttaki kard yapısı ile karışmaması için id verdim */
    height: calc(100vh);
}
#carousel-inner, #carousel-item { /* alttaki kard yapısı ile karışmaması için id verdim */
    font-family: 'PT Serif', serif;
    height: 100%;
}

#carousel-item { /* alttaki kard yapısı ile karışmaması için id verdim */
    background-color: #000;
}
#carousel-item img { /* alttaki kard yapısı ile karışmaması için id verdim */
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

#carousel-indicators { /* alttaki kard yapısı ile karışmaması için id verdim */
    bottom: 40px;
  }

#carousel-caption{  /* alttaki kard yapısı ile karışmaması için id verdim */
    top: 35% !important;
    
}

.anchor{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    
}


.slide-text{
    color: #fff;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 55px 15px 50px; 

}


.scrolling-active{
    background-color: #202124;
    box-shadow: 0 3px 1rem rgb(0, 0, 0,.1);
    height: 6.6rem;
}

.scrolling-active .nav-link{
    color: #fff;
}

.row{
    font-family: 'PT Serif', serif;
}

.button1{
    background-color: orange;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    font-family: 'PT Serif', serif;
    
}

.button1 a {
    margin-left: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.button1:hover {
    box-shadow: 0 3px 1rem rgb(0, 0, 0, .4);
}




@media screen and (min-width: 568px) { 
    .cards-wrapper{
        display: flex;
    }
    .card{
        margin: 0 .9em;
        width: calc(100%/3);
    }
    .image-wrapper{
        height: 22vw;
        display: flex;
    }
}

@media screen and (max-width:567px)   {
    .card:not(:first-child){
        display: none;
    }
    .image-wrapper{
        height: 120vw;
        display: flex;
    }
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
